.radio-section {
    display: flex;
    align-items: center;
    height: auto;
    max-width: 400px;
    box-sizing: border-box;
    border-radius: 12px; 
}

.radio-list {
    display: flex;
    flex-direction: column;
    gap: 34px;
    margin: 16px;
}

.radio-item label {
    padding: 12px 25px;
    min-width: 200px;
    background: #030014;
    border: 2px solid #f4f4f93b;
    border-radius: 16px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 300;
    white-space: nowrap;
    transition: 0.3s ease-in-out 0s;
}

.radio-item [type="radio"] {
    display: none;
}

.radio-item [type="radio"]:checked ~ label {
    border-color: #b8dbd9;
}

.radio-item [type="radio"]:checked ~ label::before {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
