@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{/*
    margin: 0;
    padding: 0; */
    
    background-color: #030014;
    color: rgb(244, 244, 249);
    font-family: "Montserrat", sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    max-width: 70%;
}

pre {
    display: flex;

    border: 2px solid #f4f4f93b;
    border-radius: 8px;
}

header{
    max-width: 96%;
}

#card{
    display: flex;
    flex-direction: column;


}